{% extends 'base.html.twig' %}

{% block title %}Posts index{% endblock %}

{% block main %}
    <h1>Liste des Publications</h1>

    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Publication</th>
                <th>Date de creation</th>
                <th>Date de modification</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_posts_show', {'slug': post.slug}) }}">Voir</a>
                    <a href="{{ path('app_posts_edit', {'slug': post.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune publication</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_posts_new') }}">Nouvelle publication</a>
{% endblock %}
