{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card my-2 bg-body-tertiary">
                <div class="card-header bg-primary">
                    {# Date et auteur de la publication et de la modification si nécessaire #}
                    <div class="py-1 text-muted">
                        Publié le <span class="text-info-emphasis px-1">{{ post.createdAt|date('d/m/Y à H\\hi') }}</span>
                        {% if post.updatedAt %}
                            et modifié le <span class="text-warning-emphasis px-1">{{ post.updatedAt|date('d/m/Y à H\\hi') }}</span>
                        {% endif %}
                    </div> 
                </div>     

                <div class="card-body text-light">                   
                    {# Affichage du contenu de la publication #}
                    <div class="mb-2">
                        {{ post.content }}
                    </div>
                </div>

                {# Si l'utilisateur a le rôle Admin ou est l'auteur de la publication, on affiche un menu avec un bouton permettant de supprimer/modifier #}
                {% if is_granted('ROLE_ADMIN') or post.author == app.user %}
                    <div class="card-footer d-flex d-row justify-content-evenly mt-3">
                        <a href="{{ path('app_posts_edit', {'slug': post.slug}) }}" class="btn btn-outline-info pe-3">Modifier</a>
                        {{ include('posts/_delete_form.html.twig') }}
                    </div>
                {% endif %} 
            </div>
        </div>
    </div>

    {# Lien pour retourner à la liste des articles #}
    <div class="row mt-2">
        <p class="text-center col-12">
            <a class="btn btn-outline-info" href="{{ path('app_posts_index') }}">Retour à la liste des publications</a>
        </p>
    </div>    
{% endblock %}
